# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# MacOS weird files (optional)
.DS_Store


# Node.js / React (frontend)
node_modules/
dist/
build/

# Environment variables
.env
.env.*

# Logs
*.log
